<mat-toolbar class="main-toolbar">
    <mat-toolbar-row>
        <span>Publish Article</span>
        <span class="example-spacer"></span>
        <button mat-raised-button color="accent" (click)="onSubmit()">Publish</button>
    </mat-toolbar-row>
</mat-toolbar>
<br><br><br>

<aside class="aside aside-1">
        <mat-grid-list cols="3">
                <mat-grid-tile colspan="2" rowspan="1">  
                    
        <form class="example-form" [formGroup]="publishArticleForm">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Title" formControlName="title">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-select required formControlName="category">
                        <mat-option *ngFor="let category of categories" value="{{category.id}}">{{category.result.name}}</mat-option>
                    </mat-select>
                    <mat-label><mat-icon>group</mat-icon> <b> Category</b> <i> label</i></mat-label>
                </mat-form-field>
                
                <mat-form-field class="example-full-width">
                    <textarea matInput rows="15" cols="50" placeholder="Article" formControlName="article"></textarea>
                </mat-form-field>
                </form>   
            </mat-grid-tile>
        </mat-grid-list>
</aside>

<article class="main">
        <div class="search-container mat-elevation-z8">
                <mat-form-field class="searchfield">
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
    <mat-table [dataSource]="dataSource" matSort>
    
        <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
        <mat-cell *matCellDef="let row" style="cursor: pointer;"> {{row.category_name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
        <mat-cell *matCellDef="let row" style="cursor: pointer;"> {{row.title}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="author">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Author </mat-header-cell>
        <mat-cell *matCellDef="let row" style="cursor: pointer;"> {{row.author}} </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>
    
    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
    </div>
</article>